/*
    color maps created using http://mcg.mbitson.com/
*/
$dark-text: rgba(0, 0, 0, 0.87); // material dark font
$light-text: white; // material light font

$allogy-tenant-palette: (
    50: var(--allogy-tenant-50, rgb(229, 239, 232)),
    100: var(--allogy-tenant-100, rgb(190, 215, 197)),
    200: var(--allogy-tenant-200, rgb(147, 188, 158)),
    300: var(--allogy-tenant-300, rgb(104, 161, 119)),
    400: var(--allogy-tenant-400, rgb(71, 140, 89)),
    500: var(--allogy-tenant-500, #27783c),
    600: var(--allogy-tenant-600, rgb(35, 112, 54)),
    700: var(--allogy-tenant-700, rgb(29, 101, 46)),
    800: var(--allogy-tenant-800, rgb(23, 91, 39)),
    900: var(--allogy-tenant-900, rgb(14, 72, 26)),
    A100: var(--allogy-tenant-A100, rgb(89, 255, 70)),
    A200: var(--allogy-tenant-A200, rgb(34, 255, 9)),
    A400: var(--allogy-tenant-A400, rgb(24, 238, 0)),
    A700: var(--allogy-tenant-A700, rgb(22, 223, 0)),
    contrast: (
        50: var(--allogy-tenant-50-contrast, $dark-text),
        100: var(--allogy-tenant-100-contrast, $dark-text),
        200: var(--allogy-tenant-200-contrast, $dark-text),
        300: var(--allogy-tenant-300-contrast, $dark-text),
        400: var(--allogy-tenant-400-contrast, $light-text),
        500: var(--allogy-tenant-500-contrast, $light-text),
        600: var(--allogy-tenant-600-contrast, $light-text),
        700: var(--allogy-tenant-700-contrast, $light-text),
        800: var(--allogy-tenant-800-contrast, $light-text),
        900: var(--allogy-tenant-900-contrast, $light-text),
        A100: var(--allogy-tenant-A100-contrast, $dark-text),
        A200: var(--allogy-tenant-A200-contrast, $dark-text),
        A400: var(--allogy-tenant-A400-contrast, $dark-text),
        A700: var(--allogy-tenant-A700-contrast, $light-text),
    ),
);

$bootstrap4-success: (
    50: #e5f4e9,
    100: #bfe5c7,
    200: #94d3a2,
    300: #69c17d,
    400: #48b461,
    500: #28a745,
    600: #249f3e,
    700: #1e9636,
    800: #188c2e,
    900: #0f7c1f,
    A100: #aeffb8,
    A200: #7bff8b,
    A400: #48ff5e,
    A700: #2fff47,
    contrast: (
        50: $dark-text,
        100: $dark-text,
        200: $dark-text,
        300: $dark-text,
        400: $dark-text,
        500: $light-text,
        600: $light-text,
        700: $light-text,
        800: $light-text,
        900: $light-text,
        A100: $dark-text,
        A200: $dark-text,
        A400: $dark-text,
        A700: $dark-text,
    ),
);

$bootstrap4-warning: (
    50: #fff8e1,
    100: #ffecb5,
    200: #ffe083,
    300: #ffd451,
    400: #ffca2c,
    500: #ffc107,
    600: #ffbb06,
    700: #ffb305,
    800: #ffab04,
    900: #ff9e02,
    A100: #ffffff,
    A200: #fffaf2,
    A400: #ffe4bf,
    A700: #ffd9a6,
    contrast: (
        50: $dark-text,
        100: $dark-text,
        200: $dark-text,
        300: $dark-text,
        400: $dark-text,
        500: $dark-text,
        600: $dark-text,
        700: $dark-text,
        800: $dark-text,
        900: $dark-text,
        A100: $dark-text,
        A200: $dark-text,
        A400: $dark-text,
        A700: $dark-text,
    ),
);

$bootstrap4-danger: (
    50: #fbe7e9,
    100: #f5c2c7,
    200: #ee9aa2,
    300: #e7727d,
    400: #e15361,
    500: #dc3545,
    600: #d8303e,
    700: #d32836,
    800: #ce222e,
    900: #c5161f,
    A100: #fff6f7,
    A200: #ffc3c6,
    A400: #ff9095,
    A700: #ff777c,
    contrast: (
        50: $dark-text,
        100: $dark-text,
        200: $dark-text,
        300: $dark-text,
        400: $light-text,
        500: $light-text,
        600: $light-text,
        700: $light-text,
        800: $light-text,
        900: $light-text,
        A100: $dark-text,
        A200: $dark-text,
        A400: $dark-text,
        A700: $dark-text,
    ),
);

$bootstrap4-secondary: (
    50: #edeeef,
    100: #d3d6d8,
    200: #b6babe,
    300: #989ea4,
    400: #828a91,
    500: #6c757d,
    600: #646d75,
    700: #59626a,
    800: #4f5860,
    900: #3d454d,
    A100: #a9d3fd,
    A200: #77b9fc,
    A400: #41a0ff,
    A700: #2793ff,
    contrast: (
        50: $dark-text,
        100: $dark-text,
        200: $dark-text,
        300: $dark-text,
        400: $dark-text,
        500: $light-text,
        600: $light-text,
        700: $light-text,
        800: $light-text,
        900: $light-text,
        A100: $dark-text,
        A200: $dark-text,
        A400: $dark-text,
        A700: $light-text,
    ),
);

$bootstrap4-light: (
    50: #fefefe,
    100: #fdfdfe,
    200: #fcfcfd,
    300: #fafbfc,
    400: #f9fafb,
    500: #f8f9fa,
    600: #f7f8f9,
    700: #f6f7f9,
    800: #f5f6f8,
    900: #f3f5f6,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
    contrast: (
        50: $dark-text,
        100: $dark-text,
        200: $dark-text,
        300: $dark-text,
        400: $dark-text,
        500: $dark-text,
        600: $dark-text,
        700: $dark-text,
        800: $dark-text,
        900: $dark-text,
        A100: $dark-text,
        A200: $dark-text,
        A400: $dark-text,
        A700: $dark-text,
    ),
);
